/* --- Inicio do CSS reset --- */
@import reset
/* --- Termino do CSS reset --- */

/* --- Inicio Congiguracoes globais --- */

//Difinição dos breakpoint
$breakpoint-1: 375px

//Cor principal e suas variacoes
$cor-padrao-1: #1C6F41
$cor-padrao-2: #014F27
$cor-padrao-3: #003F20

//Cor secundaria e suas variacoes
$cor-secundaria-1: #F4B518
$cor-secundaria-2: #E4A508

//Cor auxiliar(aux) e suas variacoes
$cor-aux-1: #FFFFFF
$cor-aux-2: #DDDDDD
$cor-aux-3: #CCCCCC
$cor-aux-4: #999999
$cor-aux-5: #484848
$cor-aux-6: #333333

//Configuracoes sombra padrao
%sombra-padrao
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)

//Configuracoes borda padrao
%borda-padrao
	border-radius: 4px

html
	color: $cor-aux-5
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
	font-size: 16px
	min-width: 330px

	@media (min-width: $breakpoint-1)
		min-width: 1024px

.btn
	background-color: $cor-padrao-1
	border-bottom: 2px solid $cor-padrao-2
	@extend %borda-padrao
	border-right: 1px solid $cor-padrao-2
	color: $cor-aux-1
	display: inline-block
	height: 30px
	padding: 6px
	text-align: center
	transition: background 150ms
	width: 120px

	&:hover
		background-color: $cor-padrao-2

.container
	margin: 0px auto
	width: 100%
	max-width: 375px
	padding-left: 5px
	padding-right: 5px
	min-height: 30px

	@media (min-width: $breakpoint-1)
		max-width: 1024px

/* --- Termino Congiguracoes globais --- */

// menu mobile
#box-menu-mobile
	height: 100%
	width: 0
	position: fixed
	z-index: 1
	top: 0
	left: 0
	background-color: $cor-padrao-3
	overflow: hidden
	transition: 0.5s
	padding-top: 60px

	nav ul li a
		height: 60px
		line-height: 45px
		display: block
		text-align: left
		color: $cor-aux-1
		padding: 8px 18px 8px 25px
		font-size: 18px

		&:hover
			background-color: $cor-padrao-2
			transition: background 200ms

		i
			margin-right: 8px
			font-size: 25px
			width: 38px
			text-align: center

	.closebtn 
		position: absolute
		top: 0
		right: 10px
		font-size: 36px
		margin-left: 50px
		color: $cor-aux-1

//header-principal
header#header-principal
	width: 100%
	height: 150px
	display: block

	@media (min-width: $breakpoint-1)
		height: 200px

	h1
		text-indent: -9999px
		background-image: url(../img/logo-via-varejo.png)
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		height: 76px
		width: 138px
		float: left
		margin-top: 14px

		a
			float: left
			height: 100%
			width: 100%

	nav#box-menu-superior
		float: right
		font-size: 26px
		margin-top: 28px

		@media (min-width: $breakpoint-1)
			margin-top: 44px

		ul
			float: right

			li
				float: left
				border-left: 1px solid $cor-secundaria-1

				&:first-child
					border-left: none
				
				a
					text-align: center
					width: 48px
					float: left
					margin-left: 5px
					margin-right: 5px
					color: $cor-aux-4

					@media (min-width: $breakpoint-1)
						width: 166px

					&:hover
						background-color: #f9f9f9
						outline: 1px solid #f1f1f1

					i
						width: 48px
						height: 48px
						line-height: 48px
						display: block
						
						@media (min-width: $breakpoint-1)
							float: left

						&.img-ico
							background-size: 30px 30px
							background-position: center
							background-repeat: no-repeat

							@media (min-width: $breakpoint-1)
								background-size: 36px 36px

						&#ico-user
							background-image: url(../img/icon-user.png)

						&#ico-car
							background-image: url(../img/icon-car.png)
							
					&#ico-menu-mobile
						color: $cor-padrao-2

						@media (min-width: $breakpoint-1)
							display: none

					.box-texto-menu
						display: none

						@media (min-width: $breakpoint-1)
							display: block
							float: right
							width: 110px
							font-size: 15px
							text-align: left
							margin-top: 7px

							span
								color: $cor-aux-6
								width: 100%
								float: left

	.box-busca
		width: 100%
		height: 45px
		float: left
		margin-top: 10px
		
		@media (min-width: $breakpoint-1)
			width: 440px
			margin-left: 60px
			margin-top: 44px

		i
			color: $cor-padrao-1
			width: 45px
			height: 45px
			padding: 10px
			position: absolute
			font-size: 26px

		input
			height: 45px
			border-bottom-left-radius: 5px
			border-top-left-radius: 5px
			border: 1px solid $cor-aux-3
			border-right: none
			padding: 6px 6px 6px 45px
			outline: none
			font-size: 16px
			float: left
			width: 78%

			&::-webkit-input-placeholder
				color: $cor-aux-3
				font-style: italic
				font-size: 13px

			&::-moz-placeholder
				color: $cor-aux-3
				font-style: italic
				font-size: 13px

			&:-ms-input-placeholder
				color: $cor-aux-3
				font-style: italic
				font-size: 13px

			&:-moz-placeholder
				color: $cor-aux-3
				font-style: italic
				font-size: 13px

			@media (min-width: $breakpoint-1)
				&::-webkit-input-placeholder
					font-size: 15px

				&::-moz-placeholder
					font-size: 15px

				&:-ms-input-placeholder
					font-size: 15px

				&:-moz-placeholder
					font-size: 15px

		button		
			border-top-right-radius: 5px
			border-bottom-right-radius: 5px
			height: 45px
			width: 22%
			border: 1px solid $cor-aux-3
			border-left: none
			float: left
			background-color: $cor-padrao-2
			color: $cor-aux-1
			font-size: 14px
		
			&:hover
				background-color: $cor-padrao-3
				transition: background 150ms
				cursor: pointer

	#box-menu-principal-desktop
		display: none
		background-color: $cor-padrao-1
		width: 100%
		height: 60px
		float: left
		margin-top: 13px
		box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6)

		@media (min-width: $breakpoint-1)
			display: block

		nav ul

			li
				float: left
				height: 60px
				width: 20%

				a
					height: 60px
					line-height: 64px
					display: block
					text-align: center
					color: $cor-aux-1
					padding-left: 18px
					padding-right: 18px
					font-size: 15px
					border-left: 1px solid $cor-padrao-3

					&:hover
						background-color: $cor-padrao-2
						transition: background 200ms

					i
						margin-right: 8px
						font-size: 25px

				&:first-child a
					border: none
	
	#box-aviso-header
		display: none
		background-color: $cor-aux-2
		width: 100%
		height: 36px
		line-height: 38px
		float: left
		z-index: -1
		position: relative
		font-size: 13px
		color: $cor-aux-6
		text-align: center


		@media (min-width: $breakpoint-1)
			display: block

main#conteudo-principal
	min-height: 150px

	nav#box-breadcrumb
		display: none
		width: 100%
		min-height: 34px
		line-height: 34px
		border-bottom: 1px solid $cor-aux-3
		color: $cor-aux-4
		font-size: 12px
		margin-top: 6px

		@media (min-width: $breakpoint-1)
			display: block

		li.breadcrumb-item
			float: left

			&.active, &:hover
				color: $cor-padrao-1


		li.breadcrumb-item+li.breadcrumb-item::before
			display: inline-block
			padding-right: .5rem
			padding-left: .5rem
			color: $cor-aux-3
			content: ">"

	#secao-produtos
		margin-top: 20px

		#box-sidebar
			display: none
			float: left
			width: 220px
			border: 1px solid $cor-aux-3

			@media (min-width: $breakpoint-1)
				display: block

			h2
				width: 100%
				border-top: 1px solid $cor-aux-3
				border-bottom: 1px solid $cor-aux-3
				padding: 18px
				font-size: 16px
				color: $cor-padrao-1
				font-weight: bold

				&:first-child
					border-top: none

				&:last-child
					border-bottom: none

			.box-categoria

				h3
					width: 100%
					padding: 18px
					font-size: 16px
					color: $cor-padrao-1
					font-weight: bold

				ul
					width: 100%
					padding: 0 18px
					margin-bottom: 18px

					li
						line-height: 23px

						a:hover
							color: $cor-padrao-2
							text-decoration: underline

			hr
				margin: 0 18px
				border: none
				border-bottom: 1px solid $cor-aux-3


		#box-vitrine
			width: 100%
			
			@media (min-width: $breakpoint-1)
				width: 770px
				float: right

			#header-vitrine
				width: 100%

				#box-qnt-resultados
					display: inline
					color: $cor-aux-6
					line-height: 35px
					font-size: 14px

					span
						color: $cor-padrao-1
						font-weight: bold

				a.btn
					float: right

				h2.titulo-vitrine
					width: 100%
					line-height: 90px
					clear: both
					text-align: center
					color: $cor-padrao-1
					font-size: 20px
					font-weight: bold

			#wrapper-galeria
				width: 100%
				height: 460px
				position: relative

				@media (min-width: $breakpoint-1)
					height: 415px

				#galeria-produtos
					overflow: hidden
					position: absolute
					width: 80%
					margin: 0 10%

					@media (min-width: $breakpoint-1)
						width: 92%
						margin: 0 4%

					.card
						width: 30%
						padding: 0.5%
						float: left
						margin: 0 0.18%
						border: 1px solid $cor-aux-2
						@extend %borda-padrao
						box-shadow: 2px 4px 6px 0px rgba(100,100,100,0.3)						
						font-size: 11px
						transition: border 150ms

						&:hover
							border: 1px solid $cor-padrao-1

						.box-destaque
							width: 100%
							display: block
							text-align: center
							background-color: $cor-aux-6
							color: $cor-secundaria-1
							font-weight: bold
							line-height: 23px
							margin-top: 12px

						h2
							font-size: 11px
							height: 48px
							line-height: 14px
							margin-top: 10px

						hr
							border: none
							border-bottom: 1px solid $cor-aux-3

						.box-detalhes
							margin-top: 10px
							display: block
							
							span
								width: 100%
								display: block

							.preco-regular
								font-size: 12px
								color: $cor-aux-4
								text-decoration: line-through
								line-height: 23px
							
							.preco-oferta
								font-size: 22px
								color: $cor-padrao-1

							.parcelas
								margin-top: 10px



					.slick-dots
						display: none!important

				#setas
					width: 100%
					margin-top: 185px
					position: absolute

					button
						background-color: transparent
						border: none
						width: 20px
						height: 35px
						cursor: pointer
						outline: none
						outline-style: none
						position: absolute
						text-indent: -9999px
						top: 0px
						background-size: contain
						background-repeat: no-repeat
						background-position: center
						opacity: 0.5
						transition: opacity 150ms

						&:hover
							opacity: 1

						&.slick-prev
							left: 0px
							background-image: url(../img/arrow-prev.svg)

						&.slick-next
							right: 0px
							background-image: url(../img/arrow-next.svg)

				.slick-list
					height: 450px

					@media (min-width: $breakpoint-1)
						height: 400px



		footer#footer-vitrine
			text-align: center
			color: $cor-padrao-1
			padding: 10px
			width: 100%
			
			a
				padding: 5px

				&:hover
					text-decoration: underline

