html
	box-sizing: border-box

*,*:before,*:after
	box-sizing: inherit

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6
	margin: 0
	padding: 0

table
	border-collapse: collapse
	border-spacing: 0

th, td
	text-align: left
	vertical-align: top

h1, h2, h3, h4, h5, h6, th, td, caption
	font-weight: normal

a
	color: inherit
	text-decoration: inherit

img,embed,iframe,object,audio,video
	height: auto
	max-width: 100%
	border: 0

ul
	list-style: none